# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# vscode folder
.vscode/

# cmake build folder
build/*

# vim swp files
*.swp
src/*.swp
src/helpers/*.swp
src/seccomp/*.swp
src/namespaces/cgroup/*.swp
src/namespaces/mount/*.swp
src/namespaces/network/*.swp
src/namespaces/user/*.swp

# bash_history
root_fs/root/.bash_history
